<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:name=".BluStreamApplication"
        android:allowBackup="true"
        android:label="BluStream"
        android:icon="@drawable/blustream_icon"
        android:roundIcon="@drawable/blustream_icon"
        android:theme="@style/Theme.BluStream"
        android:usesCleartextTraffic="true">
        <activity android:name=".BluStreamV20Activity" android:exported="false" />
        <activity android:name=".BluStreamProfileGateActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
